{% from 'macros.html' import    render_field, render_field_file, render_field_dropdown, 
                                render_field_checkbox %}

{% extends "base.html" %}


{% block content %}

    <h1>Enrol Page</h1>
    
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class='row'>
                    <legend class="border-bottom mb-4"> CHILD INFORMATION</legend>
                    <div class='col-md-6 mb-4'>
                        {{ render_field(form.child_family_name) }}    
                        {{ render_field(form.child_given_names) }}
                        {{ render_field(form.child_preferred_name) }}
                    </div>
                    <div class='col-md-6 mb-4'>
                        {{ render_field(form.child_dob) }}
                        {{ render_field_dropdown(form.child_gender) }}
                    </div>
                    <legend class="border-bottom mb-4"> CHILD ADDRESS</legend>
                    <div class='col-md-6 mb-4'>
                        {{ render_field(form.child_street) }}
                        {{ render_field(form.child_suburb) }}
                        <div class="row mb-2">
                            {{ render_field(form.child_state, width='col-md-6') }}
                            {{ render_field(form.child_postcode, width='col-md-6') }}
                        </div>
                    </div>
                    <div class='col-md-6 mb-4'>
                        <div class="alert-custom">
                            <p class='mb-0'>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                        </div>  
                    </div>
                    <hr>
                    <div class='col-md-6 mb-4'>
                        <p> Is the child one of the following. </p>
                    </div>
                    <div class='col-md-6 mb-4'>
                        {{ render_field(form.child_torres_strait) }}
                        {{ render_field(form.child_aboriginal) }}
                    </div>
                    


                    <div class="form-group upload col-md-6 mb-4">
                        {{ render_field_file(form.birth_cert) }}
                    </div>
                    <div class="form-group mb-4">
                        {{ form.submit(class="btn btn-outline-info")}}
                    </div>

                </div>
            </fieldset>
        </form>
    </div>
    
       
       
{% endblock %}