{% extends "base.html" %}

    {% block content %}

        <h1> List of Students</h1>
        
        {% for student in students %}
        <div class='content-section'>
            <div>
                <h3>Name: {{ student.givenname }} {{ student.surname }}</h3>
                <p>Middle name: {{ student.givenname2 }}</p>
                <p>Date of Birth: {{ student.dob }}</p>
                <p>Parent: {{ student.parent.email }}</p>
            </div>
            <div>
                
            </div>
            
        </div>
        {% endfor %}
        
{% endblock %}