{% from 'macros.html' import render_field %}

{% extends "base.html" %}

{% block content %}

<h1>Register Now</h1>
    
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Register below</legend>
            
            {{ render_field(form.code, width='col-md-3', mb='mb-4') }}
                        
            <div class='row'>
                {{ render_field(form.given_name, width='col-md-6', mb='mb-4') }}
                {{ render_field(form.surname, width='col-md-6', mb='mb-4') }}
            </div>

            {{ render_field(form.email, width='col-md-6', mb='mb-4') }}
            {{ render_field(form.password, width='col-md-6', mb='mb-4') }}
            {{ render_field(form.confirm_password, width='col-md-6', mb='mb-4') }}

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </fieldset>
    </form> 
</div>


{% endblock %}